.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(226, 39, 132);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-nav {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.links-nav a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 30px;
}
