* {
  margin: 0;
  padding: 0;
}

.shop-title {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
}
.products-card {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.img-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;

}
img {
  width: 400px;
  height: 350px;
  display: block;
  object-fit: contain;
  
}
.cardbox{
  padding-bottom: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
}

.add-Cartbtn {
  background-color: transparent;
  border: 2px solid  rgb(226, 39, 132);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  
}

.add-Cartbtn:hover {
  background-color:  rgb(226, 39, 132);
  color: white;
  cursor: pointer;
}

/*
.card {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card .cardbox {
  text-align: center;
}

.card:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}  */
